[submodule "fairseq"]
	path = fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "asvspoof-challenge-2021"]
	path = asvspoof-challenge-2021
	url = https://github.com/hungdinhxuan/asvspoof-challenge-2021.git
